/* FORM */

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

#passwordStrengthDisplay {
  text-align: center;
  margin: auto;
}

  label {
    width: 280px;
    margin-right: 20px;
    font-weight: bold;
    font-family: jetbrains mono, monospace;
    display: flex;
    align-items: center;
}
  
  input[type="text"] {
    width: 300px;
    height: 48px;
    font-size: 1.2em;
    padding: 5px; 
    font-family: jetbrains mono, monospace;
    margin-bottom: 20px;
  }
  
/* BACKGROUND */

body {
    font-family: JetBrains Mono, monospace;
    color: white;
    justify-content: center;
    align-items: center;  
    background: #000;
    min-height: 100vh;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  }


/* BUTTONS */

button {
margin: 10px 0;
padding: 10px 30px;
background-color: transparent;
border: 2px solid white;
border-radius: 5px;
color: white;
font-size: 20px;
font-family: jetbrains mono, monospace;
text-decoration: none;
transition: all 0.2s ease-in-out;
}

button:hover {
transform: scale(1.1);
box-shadow: 0 0 30px #ffffff;
}

button[disabled]:hover {
transform: none;
box-shadow: none;
cursor: default;
}

button a {
color: white;
text-decoration: none;
}

/* BACK BUTTON */

.back-button {
  position: absolute;
  top: 20;
  left: 20;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-family: jetbrains mono, monospace;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.back-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #ffffff;
}

.back-button a {
  color: white;
  text-decoration: none;
}


/* TITLE */

h1 {
font-size: 72px;
font-family: jetbrains mono, monospace;
font-weight: bold;
color: #ffffff;
text-align: center;
} 

/* FLASHES */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul.flashes {
  width: 60%;
  list-style-type: none;
  padding: 15px;
  margin: 10px 0;
  background-color: #141414;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

ul.flashes li {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: jetbrains mono, monospace;
  text-align: center;
}
